.checkoutProduct {
  display: flex;
}
.CheckoutItem__productImage {
  max-width: 120px;
  margin: 20px;
}

.CheckoutItem__rating {
  display: flex;
  color: #f0c14b;
}

.CheckoutItem__Info {
  width: 100%;
}

.CheckoutItem__title {
  max-width: 30%;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: smaller;
}

.CheckoutItem__button > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  max-width: 150px;
  display: flex;
  justify-content: center;
}
