.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.product__rating {
  display: flex;
  color: #f0c14b;
  justify-content: center;
}

.product > .productImg > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}

.men-thumb-item {
  position: relative;
}

.men-thumb-item::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: 0;
  z-index: 9;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
}

.men-thumb-item .pro-image-front {
  opacity: 1;
  visibility: visible;
}
.men-thumb-item img {
  transition: all 0.5s ease-out 0s;
}

.pro-image-back {
  transform: rotateY(180deg);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.men-thumb-item img {
  transition: all 0.5s ease-out 0s;
}

.product__title {
}

.product__info {
  width: 100%;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.product__info > p {
  margin-top: 0;
}

.product__price {
  margin-top: 5px;
}

.product__addToCartButton {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  max-width: 100px;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes move {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
