.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.product__rating {
  display: flex;
  color: #f0c14b;
  justify-content: center;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.product__title {
}

.product__info {
  width: 100%;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.product__info > p {
  margin-top: 0;
}

.product__price {
  margin-top: 5px;
}

.product__addToCartButton > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  max-width: 100px;
  display: flex;
  justify-content: center;
}

.product__addToCartButton {
  display: flex;
  justify-content: center;
}
